  <style type="text/css">
  html{height:100%;}
  body{
    height:100%;
    margin:0;
    font-family: 'Microsoft YaHei';
  }
  .panel_1{
    height:16%;
    /*background-color:#52b9da;*/
    background:-webkit-linear-gradient(#26bcd5, #26bcd5);
    text-align: center;
    /*font-size: 51px;*/
    color: white;
  }
  .panel_2{
    /*margin-top: 8px;*/
    height:25%; background-color:#1c7887;
  }
  .panel_3{
    /*margin-top: 8px;*/
    height:59%; background-color:#1c7887;
  }
  .panel_1 .head1 div{
    display: inline-block;
  }    
  </style>
<body style="height:100%;font-size:12px;" >
<!-- <img src="temp2.jpg"> -->
  <div class="panel_1" style="">
    <div class="head1">
      <div id="hospital_img" style="font-size:6em;position:relative;height:54px;width:76px;">
        <img src="/assets/favicon.ico" style="height: 1em; width: 1em; position: absolute; top:1px; left: 1px;">
      </div>
      <div style="font-size:7em;font-family:'STXingkai';color:lightblue;">
      云岩区人民医院
      </div>
    </div>
    <div style="font-size:10em;">
    <%= 
      if params[:room_no]&&params[:room_no].to_i<10
        "0"+params[:room_no].to_s
      else
        params[:room_no]
      end
    %>诊室</div>
  </div>
  <!-- <img src="houzhen.jpg"> -->
  <div class="panel_2" style="">
    <div style="height:5px;width:100%;background-color:#fbfbfb;border-top:2px solid #ddd;border-bottom:2px solid #ddd;"></div>
    <div style="height:48%;margin-top:2em;">
      <label style="font-size:8em;color:#e0e8db;float:left;margin-left:21px;font-weight:600;">医生：</label>
      <div style="font-size:10em;text-align:center;color:#fefefe;">刘冬梅</div>
    </div>

    <div style="height:48%;">
      <label style="font-size:8em;color:#e0e8db;float:left;margin-left:21px;font-weight:600;">职称：</label>
      <div style="font-size:10em;text-align:center;color:#fefefe;">医师</div>
    </div>
  </div>

  <div class="panel_3" style="">
    <div style="height:5px;width:100%;background-color:#fbfbfb;border-top:2px solid #ddd;border-bottom:2px solid #ddd;"></div>
    <div style="font-size:6em;color:#d6c84b;margin-left:21px;font-weight:600;line-height:2.5em;">当前就诊患者：</div>
    <!-- <div> -->
      <div style="text-align:center;color:black;background-color:#a7dce0;width:88%;height:19%;margin-left:6%;border-radius:5px;">
        <div style="font-size:10em;padding:8px;">王相桐</div>
      </div>
    <!-- </div> -->
    <div style="font-size:6em;color:#e0e8dc;margin-left:21px;font-weight:600;line-height:2.5em;">准备就诊患者：</div>
    <div style="text-align:center;color:black;background-color:#a7dce0;width:88%;height:40%;margin-left:6%;border-radius:5px;">
      <div id="bingren_<%= params[:id]%>" style="text-align:center;font-size:10em;">0号-无侯诊</div>
      <div style="text-align:center;font-size:10em;">0号-无侯诊</div>
    </div>
  </div>
  <button class="fullscreen_btn" style="position:fixed;bottom:12px;right:12px;">全屏</button>
  <button class="function_5" style="position:fixed;bottom:12px;right:50px;">刷新</button>
</body>
<script type="text/javascript">
$(".fullscreen_btn").click(function(){
  launchFullscreen(document.documentElement)
})
$(".function_5").click(function(){
  location.reload()
})
function launchFullscreen(element) {
  if(element.requestFullscreen) {
    element.requestFullscreen();
  } else if(element.mozRequestFullScreen) {
    element.mozRequestFullScreen();
  } else if(element.webkitRequestFullscreen) {
    element.webkitRequestFullscreen();
  } else if(element.msRequestFullscreen) {
    element.msRequestFullscreen();
  }
}
</script>