  <style type="text/css">
  html{height:100%;}
  body{
    height:100%;
    margin:0;
    font-family: 'Microsoft YaHei';
    /*font-size: 12px;*/
  }
  @media screen and (max-width: 920px){
	  body{	    font-size: 8px;	  }
	  .panel_1{	  line-height:5em;	  }
  }  
  @media screen and (min-width: 1080px){
	  body{
	    font-size: 12px;
	  }
	  .panel_1{	  line-height:10em;	  }
  }
  .panel_1{
  	padding:0!important;
    height:16%;
    background-color:#26bcd5;
    /*background:-webkit-linear-gradient(#26bcd5, #26bcd5);*/
    text-align: center;
    color: white;
  }
  .panel_2{
  	height: 40%;
  	padding:0!important;
    background-color:#1c7887;	
  }
  .panel_3{
  	padding:0!important;
    /*margin-top: 8px;*/
    height:44%;
    background-color:#1c7887;
  }
  .panel_1 .head1 #hospital_img{
    font-size:6em;position:relative;height:54px;width:76px;
  }
  .font-size4em{font-size: 4em;}
  .font-size5em{font-size: 5em;}
  .font-size6em{font-size: 6em;}
  </style>
<body>
  <div class="panel_1 col-sm-12" style="">
	  <div calss='col-sm-12' style="font-size:7em;font-family:'STXingkai';color:lightblue;">
	  	<span>
		    <img src="/assets/favicon.ico" style="height: 0.8em; width: 0.8em;margin-top:-0.2em;">
	  	</span>
	  	<span>云岩区人民医院</span>
	  </div>
    <div calss='col-sm-12' style="font-size:7em;">
    <%= 
    	if @room
	      if @room[:room_no].to_i<10
	        "0"+@room[:room_no].to_s
	      else
	        @room[:room_no]
	      end
	    else
	    	'01'
	    end
    %>诊室</div>
  </div>

  <div class="panel_2 col-sm-12" >
    <div style="height:5px;width:100%;background-color:#fbfbfb;border-top:2px solid #ddd;border-bottom:2px solid #ddd;"></div>
    <div class="col-sm-6" style="border-right:1px solid #ddd;height:100%;">
	    	<div class="col-sm-12 font-size4em" style="color:#e0e8db;">医生：</div>
	    	<div class="col-sm-12 text-center font-size6em" style="color:#e0e8db;">刘冬梅</div>
	      <div class="col-sm-12 font-size4em" style="color:#e0e8db;">职称：</div>
	      <div class="col-sm-12 text-center font-size6em" style="color:#e0e8db;">医师</div>
		    <div class="col-sm-12 font-size4em" style="color:#d6c84b;">当前就诊患者：</div>
	    	<div class="col-sm-12 text-center font-size6em patient_one" style="color:#e0e8db;padding:0;">王相桐</div>
    </div>
    <div class="col-sm-6" style="border-right:1px solid #ddd;height:100%;">
	    	<div class="col-sm-12 font-size4em" style="color:#e0e8db;">医生：</div>
	    	<div class="col-sm-12 text-center font-size6em" style="color:#e0e8db;">刘冬梅</div>
	      <div class="col-sm-12 font-size4em" style="color:#e0e8db;">职称：</div>
	      <div class="col-sm-12 text-center font-size6em" style="color:#e0e8db;">医师</div>
		    <div class="col-sm-12 font-size4em" style="color:#d6c84b;">当前就诊患者：</div>
	    	<div class="col-sm-12 text-center font-size6em patient_two" style="color:#e0e8db;padding:0;">王相桐</div>
    </div>
  </div>

  <div class="panel_3 col-sm-12" style="">
    <div style="height:5px;width:100%;background-color:#fbfbfb;border-top:2px solid #ddd;border-bottom:2px solid #ddd;"></div>

    <div class="col-sm-12" style="font-size:6em;color:#e0e8dc;font-weight:600;line-height:2.5em;">准备就诊患者：</div>
    <div class="col-sm-12 wait_patient" style="font-size:7em;background-color:#a7dce0;width:88%;height:4.4em;margin-left:6%;border-radius:5px;">
      <div class="text-center" style="">0号-无侯诊</div>
      <div class="text-center" style="">0号-无侯诊</div>
      <div class="text-center" style="">0号-无侯诊</div>
    </div>
	  <button class="function_5" style="">刷新</button>
	  <div id='time_minute_show' style="position:fixed;bottom:0px;height:2em;width:100%;background-color:black;color:white;font-size:3em;">
	    <div style="height:5px;width:100%;background-color:#fbfbfb;border-top:2px solid #ddd;border-bottom:2px solid #ddd;"></div>
	  	当前时间：<%= Time.new.strftime("%Y-%m-%d %H:%M")%>
	  </div>
  </div>
</body>
<script type="text/javascript">
$(".function_5").click(function(){
	location.reload()
})
</script>