<style type="text/css">
nav{
	height: 40px;
	background-color: #0C0C19;
	color: #f8f8f8;
}
nav #header_time{
	font-size: 12px;
	width: auto;
	padding: 5px;
}
</style>

<nav class="navber">
	<span>bootstrap</span>
</nav>
<div class="main-data">
	<div></div>
</div>