<div class="main-data">
	<div>
		<button class="btn" id="get_info">get</button>
	</div>
	<div class="data-info"></div>
</div>

<script type="text/javascript">
// location.href="/home/test";
$(function(){
	$("#get_info").click(function(){
		$.ajax({
			type:'get',
			url:'/home/hardware_info',
			dataType:'josn',
			success:function(data){
				console.log(data)
				$(".data-info").text(data.info)
			},
			error:function(data){
				console.log(data)
				$(".data-info").text(data.info)
			}
		})
	})
})
</script>