<div class="main-data">
	<form url="/note/journals/files" method="post">
		<input name="utf8" type="hidden" value="✓">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">

		<input name="image" type="file">
		<button class="btn btn-default">submit</button>
	</form>
</div>